/* Import Google Fonts and Define @font-face */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@400;500;800&family=Merriweather:wght@400;400i');
@font-face {
  font-family: 'Croissant One';
  src: url('fonts/CroissantOne-Regular.ttf') format('truetype');
}

/* Universal Styles */
html {
  font-size: 16px;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* Header */
.header .logo {
  font-weight: bold; /* Change font weight to bold */
}

/* Banner */
.banner h2 {
  font-weight: 500; /* Set font weight to 500 */
}

.banner h1 {
  font-weight: 900; /* Set font weight to 900 */
}

/* Journal */
.journal p {
  line-height: 1.4; /* Set line height to 1.4 */
}

.journal .first-letter {
  line-height: 0.87; /* Set line height to 0.87 */
}

.journal .quote {
  line-height: 1.2; /* Set line height to 1.2 */
}

/* Footer */
footer {
  font-family: "Croissant One", "Merriweather", serif; /* Set font family */
  line-height: 1.5; /* Set line height to 1.5 */
}
